.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.botaoApresentacao {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

.botaoApresentacao:hover {
    background-color: #0056b3;
}